* {
    margin:0;
    padding:0;
}
body {
    background:#fff;
    font-family: "Helvetica";
}

header, .main, footer {
    width:90%;
    max-width:1000px;;
    margin:20px auto;
}

header nav {
    background:#001dd8;
    overflow:hidden;
}

header nav ul {
    list-style:none;
}

header nav ul li {
    float:left;
}

header nav ul li a {
    padding:10px 20px;
    display:block;
    color:#fff;
    text-decoration:none;
}

header nav ul li a:hover {
    background:#ffda24;
}

.main .articles {
    width:68.5%;
    margin-right:1.5%;
    float:left;
    background:#fff;
}

.main .articles article {
    padding:30px;
    background: #fff;
    margin-bottom:30px;
}
aside {
    width:30%;
    background:#e2bf11;
    float:left;
}
footer {
    background: #001dd8;
    color:#ffe330;
    clear:both;
    padding:15px 0;
    text-align: center;

}
.avatar {
    border-radius: 50%;
}

.contenedor {
    text-align: center;
}

.avatar {
    text-align:right;
}
.thumb {
    text-align: center;
}